* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: rgb(43, 43, 43);
  color: white;

  --primary-clr: #45167a;
  --primary-clr-hvr: #6421b1;

  --transition: .4s ease;
}

/* GENERAL STYLES */

.btn {
  width: 4.5rem;
  height: 1.5rem;
  border: none;
  background-color: var(--primary-clr);
  border-radius: 10px;
  transition: background-color var(--transition);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-clr-hvr);
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

/* HEADER */

header,
.header-div {
  background-color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 3rem;
  border-bottom: 2px solid white;
}

.header-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 187.5px;
}

/* SEARCH BAR */

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-bottom: 1rem;
}

.search-input {
  outline: none;
  height: 1.5rem;
  padding-inline: 1rem;
  color: black;
  background-color: rgb(207, 207, 207);
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: border var(--transition), background-color var(--transition);
}

.search-input:focus {
  border: 1px solid var(--primary-clr-hvr);
  background-color: rgb(242, 242, 242);
}

.search-div .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* SEARCH RESULTS */

.movies-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.movie-card {
  margin-bottom: 3rem;
}

.movie-card-img {
  border-radius: 20px;
}

.prev-next-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 2rem auto;
}